body{
    background: linear-gradient(45deg, rgb(49, 47, 47), rgb(181, 236, 237));
    background-image:url("bdr.jpg");
    @media (max-width: 768px) {
  body {
    flex-direction: column;
  }
}
    background-size:cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:0.1s ease;
}
.container{
    
    padding :100px;
    width:15%;
    position:absolute;
    top:60px;
    left:35%;
    border-radius:30px;
    height:450px;
    backdrop-filter:blur(5px);
    box-shadow:black 2px 2px 21px 2px;
    align-items:center;
    justify-content:center;
    /* transition:1s ease; */
    /* animation:sami 1s linear infinite;
     */
}
/* @keyframes sami{
    from{
        transform : translateX(9px);
    }
    to{
        transform : translateX(10px);
    }
} */
/* .container:hover{
   transform:scale(1.01);
} */
.logo{
    position:absolute;
    width:200px;
    height:160px;
    border-radius:20px;
    animation:sam 2s linear infinite;
}
@keyframes sam{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.title{
    position:absolute;
    top:30px;
    transition:0.5s ease;
    text-shadow:white  2px 2px 1px;
    width:auto;
}
.title:hover{
    transform:scale(1.03);
}
#cityname{
    position:absolute;
    background-color:transparent;
   border:none;
   left:23px;
   top:150px;
   border-radius:10px;
   height:20px;
   width:auto;
    box-shadow:white 1px 1px 3px 1px;
    outline:none;
    margin:20px;
    padding:10px;
    font-size:18px;
    color:rgb(18, 17, 17);
    transition:1s ease;
    
}
#cityname:hover{
    transform:scale(1.01);
    }
#search{
    position:absolute;
    top:230px;
    background-color:rgb(140, 122, 129);
    border:none;
    color:white;
    border-radius:10px;
    height:30px;
    width:100px;
     transition:0.3s ease;
}
#search:hover{
      transform:scale(1.03);
}
#search:active{
     background-color:rgb(94, 87, 87);
}
#temp{
    position :absolute;
    top:300px;
    left:20px;
    height:350px;
    width:90%;
    color:rgb(5, 49, 62);
    font-size:20px;
    transition:0.3s ease;
    filter:brightness(2);
    
    }
#temp:hover{
   transform:scale(1.03);

}
#image{
    position:absolute;
    right:10px;
    top: 120px;
}